<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new employee</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="new_employee.css") }}">
</head>
<body>
    <div class="employee-container">
        <h1 class="title">Add employee</h1>
        <h3>Fill out the form to add a new employee to the database စ‿စ</h3>
        {% block content %}
            <form action="" method="post" class="addform">
                <label for="first_name">Name:</label>
                 <input type="text" name="first_name">
                <label for="last_name">Last Name:</label>
                 <input type="text" name="last_name">
                <label for="email">E-mail</label>
                 <input type="text" name="email">
                <label for="ip_address">IP</label>
                 <input type="text" name="ip_address">
                <button class="submit" type="submit">Submit</button>
            </form>
        {% endblock %}
    </div>
</body>
</html>