<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee list</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="new_employee.css") }}">
</head>
<body>
<h1>Lista de empleados ✹</h1>
<a href="/new_employee">Add another employee</a> /// <a href="/">Back to home</a>
</br> </br>
<div class="table-container">
    <table>
    <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>IP address</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.first_name }}</td>
            <td>{{ row.last_name }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.ip_address }}</td>
        </tr>
        {% endfor %}
</table>
</div>
</body>
</html>